* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: #fffaf5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1169px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  --height: 56px;
  --color: #ff5b2e;
  display: inline-block;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  color: var(--color);
  text-align: center;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 500;
  border-radius: 31px;
  border: 1px solid var(--color);
  background: transparent;
  transition: opacity 0.15s;
}

.btn:hover {
  opacity: 0.9;
}

.section-subtitle {
  color: #5e6085;
  font-family: Sora;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.section-heading {
  color: #000958;
  font-family: Sora;
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.192; /* 119.231% */
}

.section-desc {
  color: #656689;
  font-weight: 400;
  font-size: 1.4rem;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Header */
.header {
  padding-top: 18px;
  background-color: #fffaf5;
}

.header-fixed {
  position: sticky;
  top: -18px;
  z-index: 999;
}

.header-row {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .nav-list {
  display: flex;
}

.header .nav-link,
.header-cta .cta-signin {
  padding: 8px 18px;
  color: #5e6085;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  transition: color 0.3s, text-shadow 0.3s;
}

.header .nav-link:hover,
.header .nav-link.active {
  color: #000958;
  text-shadow: 1px 0 0 currentColor;
}

.header-cta .cta-signin:hover {
  text-decoration: underline;
}

.header-cta .cta-signup {
  --height: 50px;
  min-width: 117px;
  font-size: 1.4rem;
  color: #000958;
  font-weight: 600;
  border-radius: 25px;
  border-color: rgba(0, 9, 88, 0.7);
  transition: color 0.3s, background-color 0.3s;
}

.header-cta .cta-signup:hover {
  color: #fff;
  background-color: #000958;
}

/* Hero */
.hero {
  padding-top: 92px;
}

.hero-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-media {
  position: relative;
  width: 52.09%;
  display: flex;
  padding-bottom: 94px;
}

.hero-media .img-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  width: 388px;
  height: 488px;
  background: #fe997b;
  border-radius: 16px;
  border: 3px solid #fff;
}

.hero-media .hero-img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.hero-media .decor-img {
  position: absolute;
  z-index: -1;
}

.hero-media .decor-img.decor-right {
  top: 18px;
  right: -43px;
}

.hero-media .decor-img.decor-left {
  left: -58px;
  bottom: 10px;
}

.hero-media .img-wrap-small {
  align-self: flex-end;
  width: 186px;
  height: 244px;
  background: #faa7ad;
  margin-left: -24px;
  margin-bottom: -58px;
  border: 2px solid #f9d7da;
}

.hero-media .hero-list {
  position: absolute;
  left: 128px;
  bottom: 0;
  padding: 0 14px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-media .list-item {
  padding: 18px 53px 18px 0;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #f2f2f2;
}

.hero-media .list-item:last-child {
  border-bottom: none;
}

.hero-media .list-item .skeleton:nth-of-type(1),
.hero-media .list-item .skeleton:nth-of-type(2) {
  margin-top: 7px;
  width: 118px;
  height: 4px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.hero-media .list-item .skeleton:nth-of-type(2) {
  margin-top: 6px;
  width: 39px;
}

.hero-media .list-item .item-img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  margin-right: 9px;
}

.hero-media .list-item:nth-child(1) .item-img {
  background: #fdc03b;
}

.hero-media .list-item:nth-child(2) .item-img {
  background: #b5d4f0;
}

.hero-content {
  width: 44.225%;
}

.hero-content .heading {
  color: #000958;
  font-family: Sora;
  font-size: 66px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.152; /* 115.152% */
}

.hero-content .desc {
  margin-top: 24px;
  width: 75.62%;
  color: #656689;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.876; /* 187.5% */
}

.hero-content .hero-cta {
  margin-top: 38px;
}

.hero-cta .cta-booking {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  --height: 60px;
  min-width: 189px;
  font-weight: 600;
  background: var(--color);
  color: #fff;
  border-radius: 31px;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero-cta .cta-booking .btn-icon {
  display: inline-flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
}

.hero-cta .cta-call {
  margin-left: 18px;
  padding: 6px;
  color: #000958;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  text-decoration: underline;
}

/* About */
.about {
  margin-top: 88px;
  padding: 50px 0;
}

.about-inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 146px;
}

.about-label {
  margin-bottom: 15px;
}

.about-media {
  position: relative;
}

/* About content 1 4 */
.about-heading {
  width: 543px;
}

.about-desc {
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 1.875; /* 187.5% */
}

.about-inner .about-content:nth-child(1) .about-desc {
  width: 431px;
}

.about-checklist {
  margin-top: 54px;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  grid-gap: 34px 36px;
}

.about-check_item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #48496a;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1;
}

.about-check_item::before {
  display: inline-block;
  content: " ";
  width: 24px;
  height: 24px;
  background: #ff5d31;
  border-radius: 5px;
}

.about-check_item::after {
  position: absolute;
  top: 2px;
  left: 5px;
  content: url(../icons/checkbox-icon.svg);
}

.about-inner .about-content:nth-child(4) .about-desc {
  width: 511px;
  margin-bottom: 55px;
}

.about-content .tab-list {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 56px;
}

.about-content .tab-list::after,
.about-content .tab-item.active::after {
  position: absolute;
  content: " ";
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  border-radius: 2px;
  background: rgba(255, 91, 46, 0.07);
}
.about-content .tab-item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-bottom: 10px;
  cursor: pointer;
}

.about-content .tab-item.active {
  cursor: default;
}

.about-content .tab-item.active::after {
  width: 95px;
  background: #ff5b2e;
}

.about-content .tab-item .tab-icon {
  width: 19px;
  height: 19px;
  object-fit: cover;
}

.about-content .tab-item .tab-title {
  color: #48496a;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.about-content .tab-content-list {
  padding-top: 38px;
  display: flex;
}

.about-content .tab-content-item {
  display: none;
}

.about-content .tab-content-item.active {
  display: block;
}

.about-content .tab-content-desc {
  width: 391px;
  line-height: 1.71; /* 171.429% */
}

.about-content .tab-content-link {
  display: inline-block;
  position: relative;
  margin-top: 32px;
  padding-bottom: 5px;
  color: #ff5d31;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
}

.about-content .tab-content-link::after {
  position: absolute;
  display: inline-block;
  content: " ";
  bottom: 0;
  left: 0;
  right: 0;
  height: 1.5px;
  border-radius: 999px;
  background: #ff5d31;
}

/* About media 2 */
.about-card {
  position: absolute;
  top: 165px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 156px;
  padding: 31px 26px 29px;
  border-radius: 10px;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about-card .cart-title {
  color: #fff;
  font-family: Sora;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: 1; /* 100% */
}

.about-card .cart-desc {
  margin-top: 14px;
  color: #c6f4f9;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.43; /* 142.857% */
}

.about-card .cart-decor {
  position: absolute;
  top: -40px;
  right: -30px;
}

.about-media.first-media .img-wrap {
  position: relative;
  width: 494px;
  margin-left: auto;
}

.about-media.first-media .img-wrap::after {
  position: absolute;
  display: inline-block;
  bottom: 0;
  z-index: -1;
  content: " ";
  width: 100%;
  height: 336px;
  border-radius: 16px;
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  box-shadow: 11px 18px 65px 0px #ff9b791f;
}

.about-media.first-media .about-img {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-media.first-media .media-decor {
  position: absolute;
  top: 157px;
  right: -51px;
  z-index: -1;
}

/* About media 3 */
.about-media.second-media .img-wrap {
  position: relative;
  border: 2px solid #fff;
  border-radius: 18px;
  width: 458px;
  height: 500px;
  background: #9fc9ed;
}

.about-media.second-media .about-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-media.second-media .decor-img {
  position: absolute;
}

.about-media.second-media .decor-img:nth-of-type(2) {
  top: 10.5px;
  right: 61.16px;
}

.about-media.second-media .decor-img:nth-of-type(3) {
  top: -18px;
  right: 13px;
}

.about-media.second-media .decor-img:nth-of-type(4) {
  top: 31px;
  right: -23px;
}

.about-media.second-media .decor-img:nth-of-type(5) {
  top: 266px;
  right: -35px;
}

.about-media.second-media .decor-img:nth-of-type(6) {
  bottom: 148px;
  right: 17px;
}

.about-media.second-media .decor-img:nth-of-type(7) {
  bottom: -56.58px;
  right: -44px;
}

/* Services */
.service {
  margin-top: 155px;
  padding: 68px 0 100px;
  background: #fff6ed;
}

.service-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 15px;
}

.service-body {
  margin-top: 71px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 64px;
}

.service-card {
  padding: 30px 28px 30px 22px;
  border-radius: 10px;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
}

.service-card + .service-card {
  margin-top: 24px;
}

.service-card-title {
  position: relative;
  padding-left: 12px;
  color: #000958;
  font-family: Sora;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.service-card-title::before {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  content: "";
  width: 2px;
  height: 22px;
  background: linear-gradient(#ff5b2e, #ffa187);
  border-radius: 2px;
}

.service-card-desc {
  margin-top: 18px;
  width: 244px;
  line-height: 1.71; /* 171.429% */
}

.service-card-link {
  display: inline-flex;
  align-items: center;
  margin-top: 24px;
  color: #34396a;
  font-family: Sora;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1; /* 100% */
}

.service-card-link::after {
  display: inline-block;
  margin-top: 1px;
  margin-left: 6px;
  width: 12px;
  height: 12px;
  object-fit: cover;
  content: url(../icons/arrow-up-right.svg);
}

.service-media {
  position: relative;
  margin-top: 17px;
}

.service-media::after {
  position: absolute;
  bottom: 0;
  left: 22px;
  right: 15px;
  content: " ";
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service-img {
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  object-fit: cover;
}

.service-cta {
  margin-top: 45px;
  text-align: center;
}

.service-cta .cta-view-all {
  --height: 56px;
  min-width: 214px;
  border-color: rgba(255, 91, 46, 0.6);
  transition: background-color 0.3s, color 0.3s;
}

.service-cta .cta-view-all:hover {
  background-color: #ff5b2e;
  color: #fff;
}

/* Staff */
.staff {
  margin-top: 60px;
  padding: 70px 0;
}

.staff-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}

.staff-list {
  margin-top: 59px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
}

.staff-item {
  position: relative;
  text-align: center;
}

.staff-item .img-wrap {
  position: relative;
  margin: 0 16px;
  border-radius: 129.5px;
  color: var(--color);
}

.staff-item .img-wrap::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  content: " ";
  width: 100%;
  height: 93.34%;
  border-radius: 129.5px;
  background: var(--color);
}

.staff-item .img-wrap .staff-item-decor {
  width: 115.38%;
  height: 39.65%;
  position: absolute;
  transform: translateX(-50%);
}

.staff-item:nth-child(odd) .img-wrap .staff-item-decor {
  bottom: -10px;
}

.staff-item:nth-child(even) .img-wrap .staff-item-decor {
  transform: translateX(-50%) rotate(180deg);
  top: 10px;
}

.staff-img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  border-radius: 129.5px;
}

.staff-title {
  margin-top: 34px;
  line-height: 1;
}

.staff-name {
  margin-top: 14px;
  display: inline-block;
  color: #000958;
  font-family: Sora;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.staff-cta-wrap {
  margin-top: 48px;
  text-align: center;
}

.staff-cta-wrap .cta-all-staff {
  min-width: 193px;
  font-weight: 500;
  border-color: rgba(255, 91, 46, 0.6);
  transition: background-color 0.3s, color 0.3s;
}

.staff-cta-wrap .cta-all-staff:hover {
  background-color: #ff5b2e;
  color: #fff;
}

/* Pricing */
.pricing {
  margin-top: 60px;
  padding: 86px 0;
  background: #fff6ed;
}

.pricing .container {
  width: 993px;
}

.pricing-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
}

.pricing-top-desc {
  text-align: center;
  width: 60.65%;
  font-size: 1.6rem;
  line-height: 1.875; /* 187.5% */
}

.pricing-switch-wrap {
  margin-top: 38px;
  display: flex;
  justify-content: center;
}

.pricing-switch-wrap .pricing-label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  width: 276px;
  height: 56px;
  border-radius: 31px;
  border: 1px solid rgba(255, 91, 46, 0.6);
}

.pricing-swith-value {
  color: #fff;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1; /* 100% */
  z-index: 1;
  user-select: none;
}

.pricing-switch-wrap .pricing-label::after {
  position: absolute;
  left: 0;
  content: " ";
  width: 140px;
  height: 56px;
  border-radius: 31px;
  background: #ff5b2e;
}

.pricing-switch:checked + .pricing-label::after {
  width: 136px;
  left: auto;
  right: 0;
}

.pricing-switch:checked + .pricing-label .pricing-swith-value:nth-of-type(1),
.pricing-switch:not(:checked)
  + .pricing-label
  .pricing-swith-value:nth-of-type(2) {
  color: #ff5b2e;
}

.pricing-switch-inner {
  position: relative;
}

.pricing-switch-img {
  position: absolute;
  top: -10px;
  right: -111px;
}

.pricing-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 44px;
  margin-top: 56px;
}

.pricing-list-inactive {
  display: none;
}

.pricing-item {
  padding: 30px 28px 43px;
  border-radius: 20px;
  background: #fff;
}

.pricing-item.active {
  box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing-item-type {
  color: #ff5b2e;
  font-size: 1.2rem;
  line-height: 1; /* 100% */
}

.pricing-item-heading {
  margin-top: 8px;
  color: #3f4065;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.pricing-item-price {
  margin-top: 24px;
  display: block;
  color: #000958;
  font-family: Sora;
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.03; /* 103.03% */
}

.pricing-item-btn {
  margin-top: 22px;
  --height: 44px;
  width: 100%;
  border-radius: 39px;
  border: 1px solid rgba(255, 91, 46, 0.6);
  transition: backround-color 0.3s, color 0.3s;
  cursor: pointer;
}

.pricing-item-btn.active {
  background: #ff5b2e;
  color: #fff;
}

.pricing-item-btn:hover {
  background: #ff5b2e;
  color: #fff;
}

.pricing-item-list {
  margin-top: 24px;
  margin-left: 26px;
}

.pricing-item-item {
  position: relative;
  margin-top: 18px;
  color: #656689;
  font-size: 1.4rem;
  line-height: 1; /* 100% */
}

.pricing-item-item::before {
  position: absolute;
  left: -23px;
  top: 0;
  content: url(../icons/pricing-item-check.svg);
}

.pricing-item:first-child
  .pricing-item-list
  .pricing-item-item:nth-child(5)::before,
.pricing-item:first-child
  .pricing-item-list
  .pricing-item-item:nth-child(6)::before,
.pricing-item:first-child
  .pricing-item-list
  .pricing-item-item:nth-child(7)::before {
  opacity: 0.4;
}

.pricing-item:nth-child(2)
  .pricing-item-list
  .pricing-item-item:nth-child(5)::before,
.pricing-item:nth-child(2)
  .pricing-item-list
  .pricing-item-item:nth-child(6)::before,
.pricing-item:nth-child(2)
  .pricing-item-list
  .pricing-item-item:nth-child(7)::before {
  opacity: 0.4;
}

/* Review */
.review {
  padding: 105px 0 53px;
}

.review-inner {
  display: flex;
  align-items: center;
  column-gap: 44px;
}

.review-control {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  outline: none;
  border: 1.5px solid #ffd1c4;
  background: transparent;
  color: #ff5b2e;
  cursor: pointer;
}

.review-control:nth-of-type(2) {
  margin-left: auto;
}

.review-control:hover {
  color: #fff;
  background: #ff5b2e;
  border-color: #ff5b2e;
  box-shadow: 0px 5px 27px 0px #ff5b2e4d;
}

.review-content {
  overflow: hidden;
}

.review-list {
  display: flex;
}

.review-item {
  flex-shrink: 0;
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 115px;
}

.review-item-media {
  margin-top: -52px;
  flex-shrink: 0;
  position: relative;
  width: 274px;
  max-width: 100%;
  height: 100%;
  border-radius: 137px;
  overflow: hidden;
}

.review-item-media::after {
  position: absolute;
  inset: auto 0 0 0;
  content: " ";
  height: 82%;
  background: #ffda54;
  border-radius: 137px;
}

.review-item-img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  object-fit: cover;
}

.review-item-content {
  margin-top: 28px;
}

.review-item-quote {
  margin-top: 24px;
  width: 553px;
  color: #000;
  font-size: 1.8rem;
  line-height: 1.56; /* 155.556% */
}

.review-item-author {
  display: inline-flex;
  align-items: center;
  margin-top: 34px;
  color: #282828;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.review-item-author::before {
  display: inline-block;
  margin-right: 8px;
  content: " ";
  width: 20px;
  height: 2.1px;
  border-radius: 999px;
  background: #000;
}

.review-dots {
  margin-top: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.review-dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  border: 1px solid #ff5b2e;
  background: transparent;
  cursor: pointer;
}

.review-dot:hover {
  background: #ff5b2e;
}

.review-dot.active {
  width: 24px;
  background: #ff5b2e;
  cursor: default;
}

/* Blog */
.blog {
  margin-top: 27px;
  padding: 50px 0;
}

.blog-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-info {
  margin-right: 73px;
  width: 350px;
}

.blog-top-desc {
  color: #656689;
  font-size: 1.6rem;
  line-height: 1.875; /* 187.5% */
}

.blog .cta-all-blog {
  margin-top: 24px;
  min-width: 182px;
  color: #ff5b2e;
  border-color: rgba(255, 91, 46, 0.6);
  transition: color 0.2s, background-color 0.2s;
}

.blog .cta-all-blog:hover {
  background: #ff5b2e;
  color: #fff;
}

.blog-list {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 48px;
}

.blog-item-time {
  color: #fff;
  font-family: Sora;
  font-size: 1.4rem;
  line-height: 1.21; /* 121.429% */
}

.blog-item .img-wrap {
  background: var(--bgcolor, #90ccff);
  border-radius: 24px;
  padding: 24px 0 0 36px;
}

.blog-item-img {
  margin-top: 25px;
  display: block;
  width: 100%;
  height: 296px;
  object-fit: cover;
}

.blog-item-info {
  padding: 28px 16px 0 0;
}

.blog-item-title {
  color: #000958;
  font-family: Sora;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.54; /* 154.545% */
}

.blog-item-desc {
  margin-top: 16px;
  line-height: 1.71; /* 171.429% */
}

/* Footer */
.footer {
  margin-top: 81px;
  background: linear-gradient(to right, #fff6ed 42%, transparent 42%);
}

.footer-inner {
  display: flex;
}

.footer-left {
  width: 41.06%;
  padding: 114px 0 148px;
}

.footer-left .email-form {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 268px;
  height: 46px;
  border-radius: 99px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  background: #fff;
}

.footer-left .email-form-input {
  padding: 0 22px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: inherit;
}

.footer-left .email-form-input:placeholder-shown {
  padding: 16px 0 16px 22px;
  color: #656689;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.167; /* 116.667% */
}

.footer-left .email-form-btn {
  margin-right: -1px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: none;
  outline: none;
  background: #ff5b2e;
  color: #fff;
}

.footer-left .email-form-btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.footer-heading {
  color: #000958;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.11; /* 111.111% */
}

.footer-left .footer-heading {
  margin-top: 68px;
}

.footer-left .social-list {
  display: flex;
  column-gap: 16px;
  margin-top: 16px;
}

.footer-left .social-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #fff;
}

.footer-left .social-item:hover {
  opacity: 0.9;
}

.footer-right {
  flex: 1;
  padding: 52px 0 48px;
}

.footer-right-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 58px;
  padding-left: 129px;
  padding-right: 37px;
}

.footer-list {
  margin-top: 14px;
}

.footer-link {
  line-height: 2;
}

.footer-link:hover {
  text-decoration: underline;
}

.footer-item span.footer-link {
  text-decoration: none;
}

.copy-right {
  font-size: 1.2rem;
  line-height: 1.167; /* 116.667% */
  margin-top: 52px;
  margin-left: 22px;
}
